{% extends 'base_admin.html' %}


{% block admin_medicamento %}

<header>
    
    <h2> Medicamentos Full </h2>
    <a href="{% url 'agregar_medicamento_full' %}"><button>Agregar medicamentos</button></a>
</header>
<table>
    <tr><th>sucursal            </th>
        <th>sku                 </th>
        <th>laboratorio         </th>
        <th>marca               </th>
        <th>nombre medicamento  </th>
        <th>medida medicamento  </th>
        <th>cantidad comprimidos</th>
        <th>tipo farmaco        </th>
        <th>recomendacion       </th>
        <th>via ingesta         </th>
        <th>forma farmaceutica  </th>
        <th>stock de sistema        </th>
        <th>stock diario         </th>
        <th>timestamp       </th>
        <th>opciones       </th>
       
        
    </tr>

        {% for medicamento in medicamentos %}
            <tr>
                <td>
                    <p>{{medicamento.sucursal}}</p>
                </td>
                <td>
                    <p>{{medicamento.sku}}</p>
                </td>
                <td>
                    <p>{{medicamento.laboratorio}}</p>
                </td>
                <td>
                    <p>{{medicamento.marca}} mg</p>
                </td>
                <td>
                    <p>{{medicamento.nombre_medicamento}}</p>
                </td>
                <td>
                    <p>{{medicamento.medida_medicamento}}</p>
                    </td>
                    <td>
                        <p>{{medicamento.cantidad_comprimidos}}</p>
                    </td>
                    <td>
                        <p>{{medicamento.tipo_farmaco}}</p>
                    </td>
                    <td>
                        <p>{{medicamento.recomendacion}}</p>
                    </td>
                    <td>
                        <p>{{medicamento.via_ingesta}}</p>
                    </td>
                    <td>
                        <p>{{medicamento.forma_farmaceutica}}</p>
                    </td>
                    <td>
                        <p>{{medicamento.stockSistema}}</p>
                    </td>
                    <td>
                        <p>{{medicamento.stockDiario}}</p>
                    </td>
                    <td>
                        <p>{{medicamento.timestamp}}</p>
                    </td>
                    <td>
                        <a href="{% url 'editar_medicamento_full'  medicamento.id_medicamento%}"><button>Editar</button></a>
                    </td>
                    
                    
                </tr>
            {% endfor %}

</table>

<style>
    #bodega{
        background-color: rgba(0, 0, 0, 0.15)
    }
</style>

{% endblock admin_medicamento %}

